@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts";
@import "wordpress";
@import "editor";

@layer base {
    body {
        @apply font-body text-black bg-grey leading-snug lg:text-xl;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold leading-tight tracking-tight;
    }

    h1 {
        @apply text-5xl lg:text-9xl mb-4 lg:mb-12;
    }

    h2 {
        @apply text-3xl lg:text-6xl;
    }

    h3,
    h4,
    h5,
    h6 {
        @apply text-lg lg:text-4xl mb-2 lg:mb-4;
    }

    a {
        @apply no-underline lg:hover:underline;
    }

    /* editor */
    /* recover editor UI stylign that Tailiwind breaks */
    button.is-primary {
        background-color: var(--wp-admin-theme-color);
    }

    .block-editor-warning {
        border: 1px solid #1e1e1e;
    }   
}

@layer components {
    .custom-cursor {
        cursor: url('../images/cursor.svg') 8 8, auto;
    }
}