<!-- wp:group {"className":"flex flex-col min-h-screen"} -->
<div class="wp-block-group flex flex-col min-h-screen">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->

    <!-- wp:captain/spacer -->
    <div class="wp-block-captain-spacer h-22 lg:h-36"></div>
    <!-- /wp:captain/spacer -->

    <!-- wp:post-title {"level":1, "className":"px-5 lg:px-8"} /-->
    <!-- wp:post-featured-image {"align":"wide"} /-->

    <!-- wp:group {"tagName":"main","className":"flex-1"} -->
    <main id="main" class="wp-block-group flex-1">
        <!-- wp:post-content /-->

        <!-- wp:captain/next-post /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->